body {
  padding: 0;
  margin: 0;
  font-size: 18px;
  position: relative;
}

.App {
  width: 76%;
  display: grid;
  grid-template-columns: 16% auto;
  margin: 5vh auto;
}

.sizes {
  margin: 5px;
}

.size-list {
  display: flex;
  flex-wrap: wrap;
}

.size {
  width: 38px;
  height: 38px;
  padding: 0;
  border: 0;
  font-size: 11px;
  border-radius: 50%;
  margin-right: 14px;
  margin-bottom: 12px;
  cursor: pointer;
  font-weight: bold;
} 

.selected-size {
  background: #1b1920;
  color: white;
}

.size:hover {
  border: 1px solid black;
}

.size:focus {
  outline: none;
}

.loader {
  width: 200px;
  display: block;
  margin: auto;
}

.products {
  margin: 5px;
}

.products-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.products-nav h3 {
  margin: 0;
}

.sort-list select {
  font-size: 1rem;
  padding: 4px 6px;
  background: inherit;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.sort-list select:focus {
  outline-color: #196ead;
}

.products-length {
  font-size: 0.9rem;
  color: hsl(0, 2%, 47%)
}

.card-list {
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 14px 10px;
}

.card-title {
  margin-top: 9px;
  margin-bottom: 3px;
  color: #196ead;;
  cursor: pointer;

}

.price {
  margin-top: 0;
  margin-bottom: 8px;
}

.card-image {
  width: 248px;
  height: auto;
}

.add-to-cart {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
  background: #1b1920;
  border: 0;
  border-radius: 4px;
  transition: background 0.4s;
}

.add-to-cart:hover {
  background: #196ead;
}

.add-to-cart:focus {
  outline: none;
}

.cart {
  position: fixed;
  top: 0;
  right: 0;
}

@media only screen and (max-width: 1000px) {
  .App {
    grid-template-columns: 100%;
  }

  .sizes {
    margin: 0;
    text-align: center;
  }

  .sizes h3 {
    margin: 10px auto;
  }

  .size-list {
    justify-content: center;
  }

  .size {
    margin-right: 6.5px;
  }

  .sort-list {
    margin: auto;
  }

  .products-nav h3 {
    margin: 10px auto;
  }

  .products-length {
    display: flex;
    justify-content: center;
  }
}

/* cart */

#sidebar {
  position: fixed;
  top: 0;
  width: 300px;
  height: 100%;
  background: #151719;
  right: -300px;
  transition: all 300ms linear;
}

#sidebar.active {
  right: 0;
}

#sidebar ul {
  padding-left: 0;
}

#sidebar ul li {
  color: rgb(230, 230, 230, 0.9);
  list-style: none;
  padding: 15px;
  border-bottom: 1px solid rgb(100, 100, 100, 0.3);
}

.toggle-btn {
  position: absolute;
  right: 330px;
  top: 20px;
  cursor: pointer;
}

.toggle-btn span {
  display: block;
  width: 35px;
  height: 5px;
  background: #151719;
  margin: 5px 0px;
}